@import "../../styles/variables.scss";

.container-home {
    background-color: $color-primary;
    min-height: 85vh;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    button {
        cursor: pointer;
        padding: 15px;
        border-radius: 15px;
        border: none;
        background-color: $color-primary;
        color: #FFF;
        position: fixed;
        right: 30px;
        top: 30px;
        opacity: 0.7;
        border: 1px solid silver;

        &:hover{
            transition: all 500ms;
            opacity: 0.3;
        }
    }

    .cards-home {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        width: 100%;
    }

    .table-home {
        width: 100%;
    }

}