@import "../../styles/variables.scss";

.container-home {
    background-color: $color-primary;
    min-height: 100vh;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    .cards-home {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        width: 100%;
    }

    .table-home {
        width: 100%;
    }

}