@import "../../styles/variables.scss";

.table-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .header-table,
    .main-table {
        display: flex;
        align-items: center;
        width: 90%;
        background: $color-primary;
        border: 2px solid;
        border-image: linear-gradient(to right, green, red, aqua);
        border-image-slice: 1;


        th {
            text-align: start;
            width: 32%;
            padding: 8px;
            font-weight: 700;
            font-size: 20px;
            color: silver;
        }
    }

    .main-table {

        padding-right: 12px;

        tr {
            text-align: start;
            width: 32%;
            padding: 8px;
            font-weight: 300;
            color: gray;
        }

        .table-icons {
            display: flex;
            gap: 10px;
        }

        .table-icon {
            color: silver;
            cursor: pointer;

            &:hover {
                color: red;
                transition: all 500ms;

                &:first-child {
                    color: aqua;
                }
            }
        }



    }

    .red {
        border: 1px solid rgb(255, 0, 0, 0.6);
    }

    .green {
        border: 1px solid rgb(0, 128, 0, 0.7);
    }
}