@keyframes appear {
    from {opacity: 0;}
    to{opacity: 1;}
  }

.container-delete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 300px;
    background-color: gray;
    border-radius: 15px;
    padding: 12px;
    gap:10px;   
    animation-name: appear;
    animation-duration: 1s;

    h3 {
        font-size: 16px;
    }

    .remove-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        gap: 10px;


        button {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            position: relative;
            top: 0;
            right: 0;
            font-size: 13px;
            width: 100%;

        }
    }



    .green {
        background-color: green;
    }

    .red {
        background-color: red;
        
    }

}